<footer>
  <div class="right">
    <div class="">Facebook</div>  
    <div class="">Twitter</div>  
    <div class="">Email</div>  
  </div>
  <div class="left">
    <div class="">@ Copyright 2015</div>
  </div>
</footer>
