<footer>
  <div class="right">
    <a href="https://www.facebook.com/silent.buzz" target="_blank"><div>Facebook</div></a>
    <a href="https://www.twitter.com/silent_buzz" target="_blank"><div class="">Twitter</div></a>
    <a href="mailto:hi.silentbuzz@gmail.com" target="_blank"><div class="">Email</div></a>
  </div>
  <div class="left">
    <a href="/"><div class="">Silent <span style="color:#aaa">(beta)</span> </div></a>
    &nbsp;&nbsp;&nbsp; <a href="/about"><div class="">Learn More</div></a>
  </div>
</footer>
