<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

    <%= room %> does not exist. Go <a href="/">here</a> to make it.
 
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/util.js"></script>
    <% if( typeof room != 'undefined') { %>
      <script> var roomId = '<%= room %>'; </script>
    <% } %>
    <script src="/js/index.js"></script>
  </body>
</html>
