<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel='stylesheet' href='/css/about.css' />
  </head>
  <body>
    <div class="learn_more">
      <div class="title">Learn more about Silent</div>
      <br><br>
      <div class="question">What exactly should we use Silent.Buzz for?</div>
      <div class="answer">It's really up to you! Maybe you just want to see how many people you can accumulate on an online address, or maybe you want to throw a silent protest. It's really up to you guys to decide. <br><br>Perhaps these use-cases below would spark some creativity:</div>
      <br>
      <div class="use_cases">
        <img src="/media/uswnt_image.png">
        <img src="/media/takeitdown_image.png">
      </div>
      <div class="question">What exactly should we use Silent.Buzz for?</div>
      <div class="answer">It's really up to you! Maybe you just want to see how many people you can accumulate on an online address, or maybe you want to throw a silent protest. It's really up to you guys to decide. <br><br>Perhaps these use-cases below would spark some creativity:</div>
      <br>
    </div>
    
    <% include partials/footer %>
  </body>
</html>
