<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel='stylesheet' href='/css/about.css' />
  </head>
  <body>
    <div class="learn_more">
      <a href="/">&larr; go back</a>
      <div class="title">Learn more about Silent</div>
      <br><br>

      <div class="question">What is Silent?</div>
      <div class="answer">
        Silent allows you to create online spaces where people gather together to show camaraderie.
        <br><br>
        Digital communication today is being simplified, and modularized. You can see this trajectory from Facebook, to Twitter, to Snapchat, to Yo: each new service focuses more specifically and more minimally on a certain type of communication.
        <br><br>
        Silent gets to the core of online togetherness, foregoing content entirely, and making everything about the comfort of each other’s presence.
        <br><br>
        <strong>Silent is currently in Beta.</strong>
      </div>
      <br><br>

      <div class="question">How does it work?</div>
      <div class="answer">
        Silent is really easy. 
        <br><br>
        First, choose a unique room name. When you do this, you’ll create a unique URL which becomes your new online room. This URL is your room’s identity, so if you made the room Cat_Lovers, your URL would be silent.buzz/@Cat_Lovers.
        <br><br>
        Share this URL with your friends, and you’ll see them join your room as they go online. Remember, Silent keeps its users silent; it’s not about what you say, but the community your online presence creates.
        <br><br>
        Every room keeps track of the number of people in it at a time, and the total number of people who have ever been in that room. You can also find the most popular rooms through Silent’s trending list!
      </div>
      <br><br>

      <div class="question">What should we use Silent for?</div>
      <div class="answer">
        That’s up to you! Maybe you just want to see how many people you can gather at one online address; maybe you want to hold a silent protest that brings together people from all over the world.
        <br><br>
        Here are a couple of possible use cases to get thing started:
      </div>
      <br>

      <div class="use_cases">
        <img src="/media/uswnt_image.png">
        <img src="/media/takeitdown_image.png">
      </div>
      <br>

      <div class="question">Can we use Silent.Buzz to vote / see who is more popular?</div>
      <div class="answer">
        Yes! The name you choose for your online space can be very powerful. For example, you could make an @SupportBernie or an @SupportClinton room; Silent records both the number of users currently in the room, and the all-time total. Imagine the possibilities for campaigns, rallies, and events:
      </div>
      <br>

      <div class="use_cases">
        <img src="/media/bernie_image.png">
        <img src="/media/hillary_image.png">
      </div>
      <br>

      <div class="question">Do you plan on developing a mobile app for Silent?</div>
      <div class="answer">
        This is what we’re working on next. Silent works particularly well in-browser because of the importance of your unique URL. That address lets you share your room with anyone, through any communication platform, and the mobile app will be highly conscious of that interaction as well. In the meantime, Silent works just fine from your phone’s browser, so you can always join rooms on the go.
      </div>
      <br>
      <br>

    </div>
    
    <% include partials/footer %>
  </body>
</html>
