<!DOCTYPE html>
<html>
  <head>
    <% include head %>
    <link rel='stylesheet' href='/css/about.css' />
  </head>
  <body>
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
