<!DOCTYPE html>
<html>
  <head>
    <% include head %>
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body ng-app="present" ng-controller="MainController">
  
    <div class="create_room">
      <div class="create_room_form">
        <div class="create_room_container">
          <div class="create_room_text">
            <span class="default">Create your online space </span>
            <span class="valid">It's available!</span>
            <span class="taken">This name has been taken :( </span>
            <span class="invalid">Just letters and numbers please. </span>
            <span class="too_long">This username is too long.</span>
          </div>
        </div>
        <div class="at_symbol">@</div>
        <input type="text" class="create_room_input" placeholder="neverland"><br>
        <div class="create_room_next_icon success"><i class="fa fa-check"></i></div>
        <div class="create_room_next_icon fail"><i class="fa fa-times"></i></div>
      </div>
    </div>

    <div class="trending" >
      <div class="trending_label">Trending spaces...</div>
      <div class="trending_container">
        <div ng-repeat="room in trending_rooms">
          <trendingroom class="trending_room" info="room"></trendingroom>
        </div>
      </div>
    </div>
  
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/util.js"></script>
    <% if( typeof room != 'undefined') { %>
      <script> var roomId = '<%= room %>'; </script>
    <% } %>
    <script src="/js/index.js"></script>
  </body>
</html>
