<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body ng-app="present" ng-controller="MainController">
  
    <div class="create_room_form">
      <div class="create_room_container">
        <div class="create_room_text">
          <span class="default">Create your online space </span>
          <span class="valid">Looks good :) <br> Hit <b>enter</b> to continue</span>
          <span class="taken">This name has been taken :( Try another one</span>
          <span class="invalid">Just letters and numbers please. Try again.</span>
        </div>
      </div>
      <div class="at_symbol">@</div>
      <input type="text" class="create_room_input" placeholder="neverland"><br>
    </div>

    <div class="trending" >
      <div class="trending_label">Trending spaces...</div>
      <div class="trending_container">
        <div ng-repeat="room in trending_rooms">
          <trendingroom class="trending_room" info="room"></trendingroom>
        </div>
      </div>
    </div>
  
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/util.js"></script>
    <% if( typeof room != 'undefined') { %>
      <script> var roomId = '<%= room %>'; </script>
    <% } %>
    <script src="/js/index.js"></script>
  </body>
</html>
