<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body ng-app="present" ng-controller="MainController">

    <div class="how_container">
      <div class="how_close" onclick="how();">
        <i class="fa fa-times"></i>
      </div>
      <div class="how">
        <div class="part_one">
          1. <span class="instruction">create an address and generate a unique url:</span> <strong><span class="address">silent.buzz/</span>@your-address</strong>
        </div>
        <div class="part_two">
          2. <span class="instruction">share that url and watch as people enter that address!</span>
        </div>

        <div class="how_diagram">
          <div class="how_browser_bar">
            <div class="how_browser_button"></div>
            <div class="how_browser_button"></div>
            <div class="how_browser_search">silent.buzz/@your-address</div>
          </div>
          <div class="how_browser_body">
            <div ng-repeat="user in fake_user_list">
              <fakeUser info="user"></fakeUser>
            </div>
          </div>
        </div>

      </div> 
    </div>

    <div class="main_banner">
      <div class="main_banner_text">
        <img src="media/banner_image.png"/>
        <div class="title">Silent. Together.</div>
        <div class="tagline">Let Your Presence Speak For Itself</div>
        <input type="button" class="how_it_works" onclick="how();" value="How It Works"/>
      </div>
    </div>

    <div class="create_room">
      <div class="create_room_form">
        <div class="create_room_container">
          <div class="create_room_text">
            <span class="default">Create your online space </span>
            <span class="valid">It's available!</span>
            <span class="taken">This name has been taken :( </span>
            <span class="invalid">Just letters and numbers please. </span>
            <span class="too_long">This name is too long.</span>
          </div>
        </div>
        <div class="at_symbol">@</div>
        <input type="text" class="create_room_input" placeholder="neverland"><br>
        <div class="create_room_next_icon success"><i class="fa fa-check"></i></div>
        <div class="create_room_next_icon fail"><i class="fa fa-times"></i></div>
      </div>
    </div>

    <div class="use_cases">
      <div class="use_case one"><img src="/media/uswnt_image.png"></div><!--
      --><div class="use_case two"><img src="/media/meditation_image.png"></div><!--
      --><div class="use_case three"><img src="/media/bernie_image.png"></div><!--
      --><div class="use_case four"><img src="/media/takeitdown_image.png"></div>
    </div>

    <div class="trending" >
      <div class="trending_label">Trending spaces...</div>
      <div class="trending_container">
        <div ng-repeat="room in trending_rooms">
          <trendingroom class="trending_room" info="room"></trendingroom>
        </div>
      </div>
    </div>

    <% include partials/footer %>
  
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/util.js"></script>
    <% if( typeof room != 'undefined') { %>
      <script> var roomId = '<%= room %>'; </script>
    <% } %>
    <script src="/js/index.js"></script>
  </body>
</html>
