<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1> present :) </h1>

    <% if( typeof room == 'undefined') { %>
    <input class="room" type="text" placeholder="Enter Room Name" >
    <% } else { %>
    <input class="room" type="text" placeholder="" value='<%= room %>'>
    <% } %>

    <br>
    <input type="submit" class="create_room" value="Create Room">

    <div class="enter_form">
      <div class="enter_text_container">
        <div class="enter_text">
          <span class="default">Enter a username so your friends know who you are</span>
          <span class="valid">Looks good :) <br> Hit <b>enter</b> to continue</span>
          <span class="taken">This username has been taken :( Try another one</span>
          <span class="invalid">The username you entered is invalid</span>
        </div>
      </div>
      <input type="text" class="enter_username" placeholder="username"><br>
    </div>
    
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/util.js"></script>
    <script> var roomId = '<%= room %>'; </script>
    <script src="/js/index.js"></script>
  </body>
</html>
