<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel='stylesheet' href='/css/room.css' />
  </head>
  <body class="room" ng-app="present" ng-controller="MainController">

    <!-- main -->
    <div class="main">
      <header>
        <div class="user_profile">
          <div class="user_number">{{ user_count }}</div>
          <div class="user_info">
            <div class="username" title="{{ username }}">{{ username_display }}</div>
            <div class="user_duration"></div>
          </div>
        </div>
        <a href="/">
          <div class="about" title="home">home</div>
        </a>
      </header>
      <div class="center">
        <div class="data_container">
          <div class="data_stats">
            <div class="left">{{ active_users }}</div>
            <div class="right">
              <div>/<span class="total_users"> {{ total_users }}</span></div>
              <div>people</div>
              <div>online</div>
            </div>
          </div>
        </div>
        <div class="share_container">
          <% include partials/share %>
        </div>
      </div>
    </div>

    <!-- User list -->
    <div class="users" >
      <div class="users_container">
        <div class="user" ng-repeat="user in user_list | reverse">
          <user info="user"></user>
        </div>
      </div>
    </div>

    <!-- exit modal -->
    <div class="exit_background">
      <div class="exit_modal">
        <div class="exit_text">You seem to have left...</div>
        <div class="exit_button"/>ok</div>
      </div>
    </div>

    <!-- enter modal -->
    <div class="enter_modal">
      <div class="enter_form">
        <div class="enter_text_container">
          <div class="enter_text">
            <span class="default">Who are you?</span>
            <span class="valid">Looks good :)</span>
            <span class="taken">This username has been taken :( </span>
            <span class="invalid">Just letters and numbers please.</span>
            <span class="too_long">This username is too long.</span>
          </div>
        </div>
        <input type="text" class="enter_username" placeholder="      your_presence"><br>
        <div class="enter_next_icon success"><i class="fa fa-check"></i></div>
        <div class="enter_next_icon fail"><i class="fa fa-times"></i></div>
        <div class="enter_mobile_button">Enter</div>
      </div>
      <a href="/"><div class="enter_learn_more">back</div></a>
    </div>

    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/util.js"></script>
    <script> var roomId = '<%= room %>'; </script>
    <script src="/js/room.js"></script>
  </body>
</html>
