<div class="share_project_social_container">
  <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.hellovelocity.com" target="_blank">
    <div class="share_project_social">
      <div class="share_project_social_icon">
        <i class="fa fa-facebook fa"></i>
      </div>
      <div class="share_project_social_label">
        facebook
      </div>
    </div>
  </a>
  <a href="https://twitter.com/home?status=hellovelocity.com" target="_blank">
    <div class="share_project_social">
      <div class="share_project_social_icon">
        <i class="fa fa-twitter fa"></i>
      </div>
      <div class="share_project_social_label">
        twitter 
      </div>
    </div>
  </a>
  <a href="https://plus.google.com/share?url=http://www.hellovelocity.com" target="_blank">
    <div class="share_project_social">
      <div class="share_project_social_icon">
        <i class="fa fa-google-plus fa"></i>
      </div>
      <div class="share_project_social_label">
        google+
      </div>
    </div>
  </a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.hellovelocity.com" target="_blank">
    <div class="share_project_social">
      <div class="share_project_social_icon">
        <i class="fa fa-linkedin fa"></i>
      </div>
      <div class="share_project_social_label">
        linkedin
      </div>
    </div>
  </a>
  <a href="mailto:?subject=Hello%20Velocity%20&body=http://www.hellovelocity.com" target="_blank">
    <div class="share_project_social">
      <div class="share_project_social_icon">
        <i class="fa fa-envelope fa"></i>
      </div>
      <div class="share_project_social_label">
        email
      </div>
    </div>
  </a>
</div>

<div class="share_project_link">
  www.present.here/#{{ room_id }}
</div>
