
/* ENTER */
.enter_modal {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
  left: 0px;
  top: 0px;
}
.enter_form {
  width: 360px;
  height: 200px;;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  color: white;
  text-align: center;
}
.enter_text_container {
  position: relative;
  height: 80px;
}
.enter_text {
  width: 100%;
  font-size: 2.0em;
  margin-bottom: 20px;
  bottom: 0px;
  position: absolute;
  text-align: center;
}
.enter_text .invalid,
.enter_text .taken,
.enter_text .too_long,
.enter_text .valid {
  display: none;
}
.enter_username {
  width: 95%;
  border: 0 solid #fff;
  text-align: center;
  color: #333;
  border-radius: 4px;
  -webkit-border-radius:4px;
}
.enter_username.valid {
  height: 40px;
  border: 2px solid #03dd03;
}
.enter_username.invalid {
  border: 2px solid #e54823;
  height: 40px;
}
.enter_next_icon {
  width: 32PX;
  height: 32px;
  position: absolute;
  border-radius: 20px;
  line-height: 32px;
  text-align: center;
  margin-top: -38px;
  right: 9px;
  display: none;
  cursor: pointer;
}
.enter_next_icon.success {
  background-color: #03dd03;
}
.enter_next_icon.fail {
  background-color: #e54823;
}
.enter_learn_more {
  color: white;
  font-size: 1.2em;
  position: absolute;
  text-align: center;
  width: 120px;
  left: 50%;
  bottom: 0px;
  padding: 8px;
  margin-left: -64px;
  border: 2px solid white;
  border-radius: 4px;
  margin-bottom: 20px;
}
@media only screen and (min-device-width : 320px ) and (max-device-width: 480px ) {
  .enter_form {
    width: 85vw;
    height: 50vw;
  }
  .enter_text_container {
    height: 24vw;
  }
  .enter_text {
    font-size: 6vw;
  }
}


/* MAIN */
.main {
  position: relative;
  height: 85vh;
  display: none;
}
@media only screen and (min-device-width : 320px ) and (max-device-width: 480px ) {
  .main {
    height: auto;
  }
}

/* HEADER */
header {
  height: 80px;
  width: 100vw;
  min-width: 640px;
  position: relative;
}
header .user_profile {
  display: inline-block;
  margin: 20px;
  position: absolute;
}
header .user_number {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 30px;
  font-size: 1.6em;
  margin-right: 12px;
}
header .user_profile .user_number ,
header .user_profile .user_info {
  display: inline-block;
  vertical-align: top;
}
header .user_profile .user_info {
  margin-top: 8px;
}
header .user_profile .username {
  font-size: 1.2em;
  font-family: "Muli";
}
header .about {
  right: 0px;
  display: inline-block;
  position: absolute;
  line-height: 50px;
  margin: 20px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  font-size: 1.6em;
  text-decoration: none;
}
@media only screen and (min-device-width : 320px ) and (max-device-width: 480px ) {
  header {
    min-width: inherit;
  }
  header .about ,
  header .user_number {
    width: 12vw;
    height: 12vw;
    line-height: 12vw;
    font-size: 1.4em;
    border-radius: 12vw;
  }
  header .user_info {
    margin-top: 1vw !important;
  }
}


/* CENTER MODAL */
.center {
  width: 520px;
  height: 420px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}
.data_container {
  padding-bottom: 24px;
}
.data_stats .left {
  font-size: 13.0em;
  line-height: 1.0em;
  display: inline-block;
  margin-right: 20px;
}
.data_stats .right {
  font-size: 2.3em;
  line-height: 1.5em;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-top: 18px;
}
.data_stats .right .total_users {
  font-family: "Muli";
}
.room_name {
  font-size: 3.0em;
  font-family: "Muli";
}
.share_container {
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}
.share_container .a {
}
.share_project_social_container {
  text-align: center;
  margin-top: 16px;
}
.share_project_social_container > a {
  text-decoration: blink !important;
}
.share_project_social {
  display: inline-block;
  margin: 16px 12px;
}
.share_project_social .share_project_social_icon {
  width: 50px;
  height: 50px;
  background-color: white;
  font-size: 2.2em;
  text-align: center;
  line-height: 50px;
}
.share_project_social .share_project_social_label {
  font-size: 1.0em;
  margin-top: 12px;
  font-family: "Muli";
}
.share_project_link {
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
  margin-top: 12px;
}
.share_project_link_room {
  font-family: "Muli";
  word-wrap: break-word;
}
@media only screen and (min-device-width : 320px ) and (max-device-width: 480px ) {
  .center {
    width: auto;
    height: auto;
    position: relative;
  }
  .data_container {
    padding: 0px;
  }
  .data_stats {
    padding-bottom: 24px;
  }
  .data_stats .left {
    display: block;
    margin-right: 0px;
    line-height: inherit;
  }
  .data_stats .right {
    font-size: 1.8em;
  }
  .data_stats .right > div {
    display: inline-block;
  }
  .share_container {
    border: none;
    padding: 0px;
    padding-bottom: 24px;
  }
  .share_project_social {
    margin: 2vw;
  }
  .share_project_social_icon {
    width: 14vw !important;
    height: 14vw !important;
  }
  .share_project_social_label {
    display: none;
  }
  .share_project_link {
    font-size: 5vw;
    margin-top: 0px;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

/* USER LIST */
.users {
  color: white;
  padding: 20px;
  display: -webkit-box;
}
.users_container {
  max-width: 1050px;
  margin: 0 auto;
}
.user {
  display: block;
  margin: 20px;
  width: 170px;
  height: 44px;
  float: left;
}
.user .user_number {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid white;
  font-size: 1.0em;
  margin-right: 12px;
  display: inline-block;
}
.user .user_number.offline {
  background-color: rgba(255,255,255,0.5);
  color: white;
}
.user .username {
  display: inline-block;
  width: 60px;
}
.user .username.offline {
  text-decoration: line-through;
}
@media only screen and (min-device-width : 320px ) and (max-device-width: 480px ) {
  .users {
    padding: 0px;
  }
  .users_container {
    width: auto;
  }
  .user {
    margin: 0px;
    height: auto;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    width: 85vw;
    border-bottom: 1px solid #ccc;
  }
  .user .user_number {
    width: 16vw;
    height: 16vw;
    line-height: 16vw;
    border-radius: 16vw;
    font-size: 1.4em;
    margin-right: 3vw;
  }
  .user .username {
    font-size: 1.2em;
  } 
  .user > .username.offline {
  }
}

/* EXIT */
.exit_background {
  display: none;
  background-color: rgba( 255,255,255,0.9 );
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
  left: 0px;
  top: 0px;
}
.exit_modal {
  width: 360px;
  height: 180px;
  margin: 0 auto;
  position: relative;
  color: white;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 10px;
}
.exit_text {
  font-size: 1.6em;
  padding-top: 44px;
}
.exit_button {
  font-size: 1.3em;
  border: 2px solid white;
  border-radius: 4px;
  width: 100px; height: 36px;
  line-height: 36px;
  text-align: center;
  margin: 20px auto 0 auto;
  cursor: pointer;
}
.exit_button:hover {
  background-color: white;
}

@media only screen and (min-device-width : 320px ) and (max-device-width: 480px ) {
  .exit_modal {
    width: 100vw;
    height: 50vw;
    background-color: rgba(0,0,0,0);
  }
}
