@font-face {
  font-family: 'Muli';
  src: url('../media/muli_regular.eot');
  src: url('../media/muli_regular.eot?#iefix') format('embedded-opentype'),
       url('../media/muli_regular.woff') format('woff'),
       url('../media/muli_regular.ttf') format('truetype'),
       url('../media/muli_regular.svg#Muli') format('svg');
}

@font-face {
  font-family: 'Muli Light';
  src: url('../media/muli_light.eot');
  src: url('../media/muli_light.eot?#iefix') format('embedded-opentype'),
       url('../media/muli_light.woff') format('woff'),
       url('../media/muli_light.ttf') format('truetype'),
       url('../media/muli_light.svg#Muli-Light') format('svg');
}

body {
  font: 14px "Muli Light", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  min-width: 640px;
  height: 100vh;
}
input:focus{
  outline: 0;
}
input[type='text'] {
  height: 42px;
  line-height: 42px;
  font: 14px "Muli", Helvetica, Arial, sans-serif;
  padding: 0 5px;
  font-size: 1.6em;
}
@media only screen and (min-device-width : 320px ) and (max-device-width: 480px ) {
  body {
    width: 100vw;
    min-width: inherit;
  }
}

/* INVALID ROOM */
.invalid_room {
  font-size: 1.6em;
  text-align: center;
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}
@media only screen and (min-device-width : 320px ) and (max-device-width: 480px ) {
  .invalid_room {
    width: 80vw;
    margin: 0 auto;
  }
}

/* FOOTER */
footer {
  width: 100vw;
  height: 120px;
  line-height: 120px;
  font-size: 1.2em;
  font-family: "Muli";
  color: white;
  position: absolute;
  bottom: 0px;
}
footer .right ,
footer .right > div ,
footer .left {
  display: inline-block;
}
footer .left {
  position: absolute;
  left: 40px;
}
footer .right {
  position: absolute;
  right: 20px;
}
footer .right > div {
  margin-right: 20px;
}
@media only screen and (min-device-width : 320px ) and (max-device-width: 480px ) {
  footer {
    text-align: center;
    height: auto;
    line-height: inherit;
    padding-top: 4vh;
    padding-bottom: 4vh;
  }
  footer .right,
  footer .left {
    position: relative;
    left: auto;
    right: auto;
    margin: 3vh auto;
  }
}

